.find {
  display: flex;
  background-image: url("../img/fonstola2.png");
  flex-direction: column;
  height: 800px;
  padding: 70px 200px 80px 100px;
  gap: 50px;
  position: relative;

  &_container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;

  }

  &_title {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &_line {
    height: 2px;
    background: white;
    width: 800px;
  }

  &_container-card {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    iframe {
      display: block;
      margin: 0 auto;
      border-radius: 10px;
    }
  }

  &_container-img {
    display: flex;
    align-items: center;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 550px;
    bottom: 0;
  }
}