.basic {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/fonstola.png");
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;

  &-astronaut {
    display: block;
    height: 600px;
    z-index: 2;
  }

  &_left {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(-220px);
    color: white;
    text-align: left;
    width: 200px;

    &-subtext {
      font-size: 18px;
      line-height: 1.6;
      margin-top: 20px;
      white-space: normal;
      color: white;
      position: relative;
      top: 236px;
    }

    &-line {
      width: 200px;
      height: 2px;
      background: white;
      margin-bottom: 15px;
    }
  }

  &_right {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    color: white;
    display: flex;
    gap: 10px;
    margin-right: auto;


    &-subtitle {
      font-size: 18px;
    }

    &-title {
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 6px;
    }

    &-data {
      font-size: 14px;
      margin-top: 10px;
      color: white;
      position: relative;
      top: 236px;
    }
  }
}