.portfolio {
  background-color: white;
  height: 600px;
  width: 100%;

  &_title {
    display: flex;
    font-size: 24px;
    text-align: right;
    margin-top: 80px;
    margin-right: 180px;
    text-transform: uppercase;
    justify-content: flex-end;
    letter-spacing: 3px;
  }

  &_line {
    height: 2px;
    background-color: black;
    max-width: 900px;
    height: 1px;
    margin-left: 150px;
  }

  &_text {
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 16px;
    color: black;
    width: 700px;
    top: 30px;
    padding: 140px;

    p {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 20px;
    }
  }

  &_img {
    position: relative;
    height: 400px;
    width: 600px;
    top: 100px;
    margin-left: 100px;
  }

  &_main {
    display: flex;
  }
}