.team {
  display: flex;
  background-image: url("../img/fonstola.png");
  flex-direction: column;
  height: 600px;
  padding: 60px 200px 80px 70px;
  gap: 97px;

  &_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 50px;
  }

  &_title {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &_line {
    height: 2px;
    background: white;
    width: 900px;
  }

  &_cards {
    display: flex;
    gap: 80px;
    text-align: center;
    line-height: 1.1;
  }

  &_card {
    position: relative;
    gap: 10px;

    h1 {
      font-size: 120px;
      color: white;
    }

    p {
      font-size: 24px;
      line-height: 1.1;
      color: white;
      padding: 50px 0px 0px 50px;
      width: 250px;
    }
  }
}