@import "./fonts";
@import "./reset";
@import "./header";
@import "./main";
@import "./about";
@import "./odds";
@import "./intg";
@import "./team";
@import "./connection";
@import "./reviews";
@import "./portfolio";
@import "./find";
@import "./footer";


body {
  font-family: "Roboto";
}

title {
  font-weight: 100;
}

p {
  font-weight: 400;
}